fastapi
uvicorn
pydantic
SQLAlchemy
python-multipart
pytesseract
Pillow
opencv-python-headless
numpy
joblib
scikit-learn
psycopg[binary]

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
transformers
